*{
    font-family: 'Lucida Sans', Verdana, sans-serif;
}

body{
    padding: 1% 5%;
}

fieldset{
    margin-bottom: 3%;
    background-color: lightgray;
}

label{
    display: block;
    margin-top: 1.5%;
}
label:last-of-type{
    margin-bottom: 1.5%;
}

.oculto{
    display: none;
}

#errores{
    width: 50%;
    padding: 1%;
    margin: 1.5% auto;

    border-radius: 10px;
    color: rgb(75, 0, 0);
    background-color: rgb(250, 78, 78);
    border: 2px solid rgb(75, 0, 0);
}

.input-error{
    border: 2px solid rgb(250, 78, 78);
}

#mensaje{
    width: 50%;
    padding: 1%;
    margin: 1.5% auto;
    border-radius: 10px;
    color: rgb(0, 63, 78);
    background-color: rgb(155, 248, 248);
    border: 2px solid rgb(0, 63, 78);
}
